<form class="password-form">
  <label class="password-label">
    Input password
    <input
      class="input-password"
      (input)="onPasswordChange($event)"
      type="password"
      value="{{ passwordString }}"
    />
    <button
      class="show-password-btn"
      type="button"
      (mousedown)="onShowPasswordButtonMouseDown()"
      (mouseup)="onShowPasswordButtonMouseUp()"
      (mouseleave)="onShowPasswordButtonMouseUp()"
    >
      s
    </button>
  </label>

  <ul class="section-list">
    <li class="password-section">Password is easy</li>
    <li class="password-section">Password is medium</li>
    <li class="password-section">Password is strong</li>
  </ul>
</form>
