.password-section {
  color: gray;
  font-weight: 700;
}

.password-is-easy {
  color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.password-is-medium {
  color: yellow;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.password-is-strong {
  color: green;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.password-form {
  background-color: #050505;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 215px;
  padding: 40px 10px;

  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  
  @media (min-width: 650px) {
    width: 634px;
    padding: 40px;
    }
}



.password-label {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.section-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}

.input-password {
  padding: 8px 10px;
  color: white;
  border-radius: 12px;
  border: 1px solid #e3ffa8;
  background: #0f0f0f;
  padding-right: 40px;
}

.show-password {
  fill: #e3ffa8;
  stroke: #e3ffa8;
}

.show-password-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
